
//@import '../../node_modules/bootstrap/dist/css/bootstrap';
@import '../../node_modules/bootstrap-slider/dist/css/bootstrap-slider.min';
@import '../../node_modules/bootstrap/scss/bootstrap';

#mendeleyContainerBody.disabled{
  opacity: 0.5;
  background-color: #ccc;
  pointer-events: none;
}
#hypothesisContainerBody.disabled{
  opacity: 0.5;
  background-color: #ccc;
  pointer-events: none;
}
.externalService.disabled img{
  opacity: 0.3;
}
.externalService.enabled img{
  opacity: 1;
}
.externalService img{
  min-height: 150px;
  max-height: 150px;
}
#authorizationSuccess{
  display:none;
}
#authorizationError{
  display:none;
}
.serviceName{
  font-size: 1.2em;
  margin-left: 5%;
}
#mendeleyProjectMatching{
  display:none;
  margin-top:5%;
  font-size:0.8em;
}
.slider-selection {
  background: #BABABA;
}
.completenessOption{
  width: 30%;
  margin-top: 3%;
  font-size: 1em;
}
.suggestionOption{
  margin-top: 3%;
  font-size: 1em;
}
.slider{
  width: 60%;
}
.panel-body b{
  margin-right:15px;
  margin-left:15px;
}
.logo{
  height:96px;
}
body{
  background-color: #eee !important;
}
#chatgptAuthorizationSuccess{
  display:none;
}
#chatgptAuthorizationError{
  display:none;
}
.selectedMode {
  background-color: #ffffe6 !important;
  border: solid 1px #cccc00 !important;
}
.chatgptMode{
  padding: 10px;
  margin-left: 13px;
  margin-top: 5px;
  cursor:pointer;
  width: 90%;
}
.chatgptOptionName{
  font-weight: bold;
}

.form-check {
  position: relative;
  display: block;
  padding: 1.25rem;
}

.btn2 {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  borde: 1px solid;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-outline-danger {
  color: #dc3545;
  border-color: #dc3545;
  background-color: transparent;
}

.btn-outline-danger:hover {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-outline-danger:focus,
.btn-outline-danger.focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

.btn-outline-danger:active,
.btn-outline-danger.active {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.chatgptModeDescription{
  margin-top: 5px;
}

div[aria-hidden="true"] {
  display: none;
}

.requiredFormInput:after {
  color: red;
  content: " *";
}

input:invalid {
  border-color: red;
  border-width: 2px;
}

#toolset[aria-hidden="true"]{
  display:none;
}

.toolButton {
  width: 32px;
  cursor: pointer;
}

.toolButton:hover {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}

.clickableInfoSpan {
  font-weight: bold;
  cursor: pointer;
}

#saveQueryButton {
  margin-right: 10px;
}

.logo {
  height: 100px;
  width: auto;
}

.promptTextArea {
  width: 100%;
}
